<div class="row">
    <div class="two wide column">
        <h3 class="ui left aligned header no-bottom">Projects</h3>
    </div>

    <div class="fourteen wide column no-bottom">
        {% assign project_pages = site.pages | where: "type", "project" | sort: "date" | reverse %}
        {% for entry in project_pages %}

        <div class="ui grid">
            <p class="ui no-bottom">
            <b>{{ entry.title }}</b> - {{ entry.summary }}</p>
        </div>

        {% endfor %}
    </div>
</div>

